@import "../../../styles";

.container {
  min-width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.publish-btn {
  background-color: $pollite-primary-color;
  color: white;
  height: 40px;
  padding: 5px;
  border: 0;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1rem;
}

.questions-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
  border-radius: 10px;
  gap: 0.7rem;
}

.question-info {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.delete-btn {
  border: 0;
  background-color: transparent;
}

mat-form-field {
  width: 100%;
}

.question-input {
  flex-basis: 100%;
}

.answers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  width: 100%;
}

.answer-container {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
  width: 100%;
}

.question-order-controls {
  display: flex;
  gap: 0.8rem;
}

.question-order-value {
  //background-color: $pollite-primary-color;
  //padding: 5px;
  //border-radius: 20px;
  //color: white;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

.answers-title {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.answer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-answer-btn {
  background-color: $pollite-primary-color;
  width: 50px;
  border: 0;
  border-radius: 10px;
}

.answer-order-controls {
  display: flex;
}

.answer-order-value {
  background-color: $pollite-primary-color;
  width: 30px;
  padding: 5px;
  border-radius: 20px;
  color: white;
  font-size: 0.9rem;
  text-align: center;
  margin-right: 10px;
}

.add-question-btn {
  background-color: $pollite-primary-color;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
}

.control-btn {
  background-color: transparent;
  border: 0;
  border-radius: 5px;
}

.control-btn:hover {
  background-color: #efefef;
}

.answer-control-btn:hover {
  background-color: #e5e5e5;
}

.exclusions-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.exclusion-container {
  display: flex;
  gap: 0.3rem;
}

.availability-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
