.polls-container {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  max-height: 85%;
  overflow: scroll;
}

.poll-item {
  width: 70%;
}

.pagination {
  background-color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-shadow: 5px 5px 10px black;
  bottom: 0;
  width: 100%;
}
