<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">
      <img
        src="assets/logo.png"
        height="40"
        alt=""
        loading="lazy"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active menu-item" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active menu-item" aria-current="page" href="/polls">Polls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active menu-item" aria-current="page" href="/survey">Create survey</a>
        </li>
      </ul>

      <div *ngIf="!user; else notLoggedIn" class="d-flex align-items-center">
        <div class="login-btn" (click)="goToLoginPage()">
          <mat-icon [ngStyle]="{'color':'#D00224'}" class="logout-btn">login</mat-icon>
          <div>
            Sign in
          </div>
        </div>
      </div>
      <ng-template class="d-flex align-items-center user-controls" #notLoggedIn>
        <div class="username">
          <mat-icon [ngStyle]="{'color':'#D00224'}">person</mat-icon>
          <div>
            <a class="username" href="/users/{{user.username}}">{{ user.username }}</a>
          </div>
        </div>
        <div class="logout-btn" (click)="logout()">
          <mat-icon [ngStyle]="{'color':'#D00224'}" class="logout-btn">logout</mat-icon>
          <div>
            Sign out
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
