@import "../../../styles";

.container {
  margin-top: 20px;
}

.main-container {
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "results results filters";
}

.survey-id {
  color: $pollite-primary-color;
}

.results-container {
  grid-area: results;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

.question-result {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
  border-radius: 10px;
  padding: 20px;
  gap: 0.8rem;
}

.question-info {
  display: flex;
  justify-content: space-between;
}

.question-text {
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-votes-total {
  display: flex;
  width: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $pollite-primary-color;
  color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
}

.votes-desc {
  font-size: 0.7rem;
}

.question-votes-total-value {
  font-weight: bold;
}

.answers-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
}

.answer-result {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.selected {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
}

.answer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.answer-summary {
  display: flex;
  gap: 0.7rem;
}

.answer-votes-total {
  display: flex;
  min-width: 4rem ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $pollite-primary-color;
  color: white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
}

.answer-votes-total-value {
  font-weight: bold;
}

.answer-votes-desc {
  font-size: 0.6rem;
}

.answer-votes-percent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  background-color: $pollite-primary-color;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
}

.filters-block-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  grid-area: filters;
}

.filters-header {
  display: flex;
  justify-content: space-between;
}

.filters-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
  border-radius: 10px;
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
  gap: 0.6rem;
}

.filter {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
  padding: 1rem;
  border-radius: 10px;
}

.filter-question-text {
  font-weight: bold;
}

.filter-info {
  color: #9d9c9c;
  font-size: 1rem;
}

