<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Kto wygra wybory?</h5>
    <div class="form-check form-check-inline">
      <input
        mdbRadio
        class="form-check-input"
        type="radio"
        name="inlineRadioOptions"
        id="inlineRadio1"
        value="option1"
      />
      <label class="form-check-label" for="inlineRadio1">PiS</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        mdbRadio
        class="form-check-input"
        type="radio"
        name="inlineRadioOptions"
        id="inlineRadio2"
        value="option2"
      />
      <label class="form-check-label" for="inlineRadio2">PO</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        mdbRadio
        class="form-check-input"
        type="radio"
        name="inlineRadioOptions"
        id="inlineRadio3"
        value="option2"
      />
      <label class="form-check-label" for="inlineRadio3">Konfederacja</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        mdbRadio
        class="form-check-input"
        type="radio"
        name="inlineRadioOptions"
        id="inlineRadio4"
        value="option2"
      />
      <label class="form-check-label" for="inlineRadio4">Polska 2050</label>
    </div>
    <div>
      <button
        class="btn btn-primary"
        type="button"
        (click)="basicCollapse.toggle()"
        [attr.aria-expanded]="!basicCollapse.collapsed"
        aria-controls="collapseExample"
      >
        Vote
      </button>
    </div>
  </div>
  <div class="mt-3" id="collapseExample" mdbCollapse #basicCollapse="mdbCollapse">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
    squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
    sapiente ea proident.
  </div>
  <div class="card-footer text-muted">Created 2 days ago by szymeq17</div>
</div>
