<div *ngIf="poll" class="card text-center">
  <div class="card-body">
    <h5 class="card-title">{{poll.text}}</h5>
    <div *ngFor="let answer of poll.pollAnswers" class="form-check form-check-inline">
      <input
        mdbRadio
        class="form-check-input"
        type="radio"
        name="inlineRadioOptions"
        id={{answer.id}}
        value={{answer.id}}
      />
      <label class="form-check-label" for="{{answer.id}}">{{answer.text}}</label>
    </div>
    <div>
      <button
        class="btn btn-primary"
        type="button"
        (click)="basicCollapse.toggle()"
        [attr.aria-expanded]="!basicCollapse.collapsed"
        aria-controls="collapseExample"
      >
        Vote
      </button>
    </div>
  </div>
  <div class="mt-3" id="collapseExample" mdbCollapse #basicCollapse="mdbCollapse">
    ZNAJDZ BOGA W SWOIM ŻYCIU
  </div>
  <div *ngIf="poll.startDateTime; else noStartDate" class="card-footer text-muted">
    Created at {{poll.startDateTime | date:'medium'}} by {{poll.ownerUsername}}
  </div>
  <ng-template #noStartDate>
    <div class="card-footer text-muted">Created by {{poll.ownerUsername}}</div>
  </ng-template>
</div>
