@import "../../../styles";

.container {
  padding: 10px;
}

.questions-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.question-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
  border-radius: 10px;
}

.question-info {
  display: flex;
  gap: 0.3rem;
}

.question-number {
  background-color: $pollite-primary-color;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 5px;
  width: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
}

.question-text {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.answers-container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.single-choice-answer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.copy-btn {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.copy-btn:hover {
  color: $pollite-primary-color;
}
