<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <h2>Description</h2>
    <mat-form-field>
      <textarea matInput placeholder="Your survey description..." formControlName="description" required></textarea>
    </mat-form-field>
    <h2>Questions</h2>
    <div formArrayName="questions" class="questions-container">
      <div *ngFor="let question of questionForms.controls; let questionIndex=index" [formGroupName]="questionIndex" class="question-container">
        <div class="question-info">
          <div class="question-order-value">Question {{ questionIndex + 1 }}</div>
          <div class="question-order-controls">
            <button type="button" (click)="moveQuestionUp(questionIndex)" class="control-btn question-control-btn">
              <mat-icon [ngStyle]="{'color':'#D00224'}">arrow_upward</mat-icon>
            </button>
            <button type="button" (click)="moveQuestionDown(questionIndex)" class="control-btn question-control-btn">
              <mat-icon [ngStyle]="{'color':'#D00224'}">arrow_downward</mat-icon>
            </button>
            <button type="button" (click)="removeQuestion(questionIndex)" class="control-btn question-control-btn">
              <mat-icon [ngStyle]="{'color':'#D00224'}">delete</mat-icon>
            </button>
          </div>
          <div>
            <mat-checkbox formControlName="multiChoice" color="warn">Multi-choice</mat-checkbox>
          </div>
        </div>
        <mat-form-field class="question-input">
          <textarea cols="100" matInput placeholder="Question" formControlName="text" required></textarea>
        </mat-form-field>
        <div class="answers-title">
          Answers
        </div>
        <div formArrayName="answers" class="answers-container">
          <div *ngFor="let answer of questionAnswerForms(questionIndex).controls; let answerIndex=index" [formGroupName]="answerIndex" class="answer-container">
            <div class="answer-order-value">{{ answerIndex + 1 }}</div>
            <mat-form-field>
              <input matInput placeholder="Answer" formControlName="text" required>
            </mat-form-field>
            <div class="answer-order-controls">
              <button type="button" (click)="moveAnswerUp(questionIndex, answerIndex)" class="control-btn answer-control-btn">
                <mat-icon [ngStyle]="{'color':'#D00224'}">arrow_upward</mat-icon>
              </button>
              <button type="button" (click)="moveAnswerDown(questionIndex, answerIndex)" class="control-btn answer-control-btn">
                <mat-icon [ngStyle]="{'color':'#D00224'}">arrow_downward</mat-icon>
              </button>
              <button type="button" (click)="removeAnswerFromQuestion(questionIndex, answerIndex)" class="control-btn answer-control-btn">
                <mat-icon [ngStyle]="{'color':'#D00224'}">delete</mat-icon>
              </button>
            </div>
          </div>
          <button type="button" (click)="addAnswerToQuestion(questionIndex)" class="add-answer-btn">
            <mat-icon [ngStyle]="{'color':'white'}">add</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <button type="button" class="btn-primary add-question-btn" (click)="addQuestion()">Add question</button>
    <h2>Exclusions</h2>
    <div *ngIf="exclusionForms.controls.length === 0">
      No exclusions applied. Add exclusion to prevent user from answering questions based on their previous answers.
    </div>
    <div formArrayName="exclusions" class="exclusions-container">
      <div *ngFor="let exclusion of exclusionForms.controls; let exclusionIndex=index" [formGroupName]="exclusionIndex" class="exclusion-container">
        <mat-form-field appearance="fill">
          <mat-label>Question number</mat-label>
          <select formControlName="questionOrder" matNativeControl required>
            <option *ngFor="let questionNumber of questionNumbers()" [value]="questionNumber">
              {{questionNumber}}
            </option>
          </select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Answer number</mat-label>
          <select formControlName="answerOrder" matNativeControl required>
            <option *ngFor="let answerNumber of answerNumbers(exclusionIndex)" [value]="answerNumber">
              {{answerNumber}}
            </option>
          </select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Question to be excluded number</mat-label>
          <select formControlName="excludedQuestionOrder" matNativeControl required>
            <option *ngFor="let questionNumber of questionNumbersPossibleToExclude(exclusionIndex)" [value]="questionNumber">
              {{questionNumber}}
            </option>
          </select>
        </mat-form-field>
        <button type="button" (click)="removeExclusion(exclusionIndex)" class="control-btn answer-control-btn">
          <mat-icon [ngStyle]="{'color':'#D00224'}">delete</mat-icon>
        </button>
      </div>
    </div>
    <button type="button" class="btn-primary add-question-btn" (click)="addExclusion()">Add exclusion</button>
    <h2>Availability</h2>
    <div class="availability-container">
      <mat-checkbox formControlName="isActive" color="warn">Make active after publishing</mat-checkbox>
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range in which survey should be active or leave blank if not applicable</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input formControlName="startDate" matStartDate placeholder="Start date">
          <input formControlName="endDate" matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <button type="submit" class="btn btn-primary">Publish survey</button>
  </form>
</div>
