<div class="container">
  <div class="register-container">
    <img src="../../../assets/logo.png" alt="pollite logo" class="logo">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Repeat password</mat-label>
        <input type="password" matInput formControlName="repeatedPassword">
      </mat-form-field>
      <button class="btn btn-primary">Create account</button>
    </form>
  </div>
</div>
