<div class="container">
  <div class="info-container">
    <div>
      <a class="survey-link" href="/survey/{{surveyInfo.surveyId}}">Survey #{{surveyInfo.surveyId}}</a>
    </div>
    <div (click)="goToSurvey(surveyInfo.surveyId)" class="description">
      {{surveyInfo.description}}
    </div>
  </div>

  <div *ngIf="isOwnedByLoggedInUser" class="controls-container">
    <button class="btn-primary" (click)="editSurvey()">Edit</button>
    <button class="btn-primary" (click)="deleteSurvey()">Delete</button>
    <button class="btn-primary" (click)="showResulsts()">Show results</button>
    <mat-icon (click)="copySurveyUrlToClipboard()" class="copy-btn">content_copy</mat-icon>
  </div>
</div>
